<html>

<head>

<title> GeoFit-Running </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="./src/main.css">
</head>


<body>

<h1 style="color:;text-align:center;"> GeoFit-Running</h1>
<p style="color:;text-align:center;">Welcome to GeoFit-Running</p>
<p style="color:;text-align:center;">Please enter your username and password to access the site.</p>
</body>



<body>
  <form >
    <div >
    <label>Username: </label>
  <input type="text" name="name" placeholder="Username">
   </div>


  <div >
    <label>Password: </label>
  <input type="text" name="name" placeholder="Password">
  </div>


  <a href="main.html">Login</a>
  <br>
  <a href="registration.html">Create an account</a>



    </form>
  </body>

</html>